@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: NK57;
  src: url("../assets/fonts/18888.ttf");
}

html,
body {
  height: 100%;
  background-color: #adadad;
  line-height: 1;
  color: #111111;
}

p {
  font-size: 16px;
  color: #1d1d1d;
}

.bgphoto {
  background: url("../assets/black-and-silver-camera-on-red-covered-books-3774045.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 75%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.NK57 {
  font-family: NK57;
}

.color-white {
  color: white;
}

.styledJumbotron {
  margin: 2rem 0rem 0rem 5rem;
  padding: 2rem 1rem 1rem 1rem;
  width: 400px;
  background-color: white;
  text-align: left;
}

a:link {
  color: #fcdf0a;
}

a:visited {
  color: #111111;
}

a:hover {
  color: #a01010;
}
.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}
.margin-h1 {
  position: absolute;
  top: 30%;
}

.small-icon {
  width: 30px;
  height: 30px;
}
