$body-color: #7136cf;

body,
ul {
  color: $body-color;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  color: bla;
}
tr,
td,
th {
  border: 1px solid black;
}

ol {
  color: #138b81;
}
